:root {
  /* Light mode colors */
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #ff204e;
  --secondary-color: #f5f5f5;
  --ink-bar-color: #000000;
  --custom-btn2: #f5f5f5;
  --placeholder-color: #12121274;
}

[data-theme="dark"] {
  /* Dark mode colors */
  --background-color: #121212;
  --text-color: #f5f5f5;
  --primary-color: #ff204e;
  --secondary-color: #333333;
  --ink-bar-color: #f5f5f5;
  --custom-btn2: #555;
  --placeholder-color: #f5f5f574;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/* Ant Design Component Overrides */
.ant-menu-item-selected {
  background-color: transparent !important; /* Remove background color */
}

.ant-menu-item-selected span {
  color: var(--primary-color);
}

.ant-btn-primary {
  background-color: rgba(
    255,
    32,
    78,
    0.85
  ) !important; /* Softer primary color */
  border-color: rgba(255, 32, 78, 0.85) !important;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.ant-btn-primary:hover {
  background-color: var(--primary-color) !important; /* Highlight on hover */
  border-color: var(--primary-color) !important;
}

.ant-btn-default {
  color: var(--text-color) !important;
  transition: color 0.3s ease, border-color 0.3s ease;
  border-color: var(--background-color) !important;
}

.ant-btn-default:hover {
  color: var(--text-color) !important;
  border-color: var(--text-color) !important;
}

.custom-btn {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
  background-color: transparent !important;
}

/* Custom Component Styles */

/* ShortVideo.module.css adjustments */
.video-container {
  position: relative;
  width: 100%;
  max-width: 26vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  left: -10%;
}

.video-player {
  width: 100%;
  height: 95%;
  object-fit: cover;
  border-radius: 16px;
}

.video-controls {
  position: absolute;
  bottom: 40px;
  left: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.video-container:hover .video-controls {
  opacity: 1;
}

/* ----------------------------Sidebar---------------------------- */
#sidebar {
  width: 256px;
  position: relative;
  height: auto;
  z-index: 9;
  background-color: var(--background-color);
  margin-top: 5%;
}

#sidebar-menu {
  height: 100%;
  border-right: 0;
  padding-top: 10%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
  border: none;
  margin-left: 5%;
}

/* Custom styles for sidebar items */
.sidebar-menu-item {
  color: var(--text-color) !important;
}

.ant-menu-item-selected {
  color: var(--primary-color) !important;
}

.sidebar-menu-item:hover {
  color: var(--primary-color) !important;
}

/* Ensure selected item color */
.ant-menu-item-selected {
  background-color: transparent !important;
  color: var(--primary-color) !important;
}

.dark-placeholder,
.light-placeholder {
  border: var(--background-color) !important;
}

.dark-placeholder ::placeholder {
  color: #bbbbbb !important; /* Lighter color for dark mode */
  opacity: 1 !important; /* Ensures full color display */
}

.light-placeholder ::placeholder {
  color: #b0b0b0 !important; /* Original color for light mode */
  opacity: 1 !important;
}

.avatar-user {
  border: transparent !important;
}

.ant-card-body {
  padding: 0 !important;
}

.ant-tabs-ink-bar {
  background: var(--ink-bar-color) !important;
  pointer-events: none !important;
}

#custom-btn2 {
  background: var(--custom-btn2) !important;
}

/* Modal */
.ant-modal {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.ant-modal-content {
  background-color: var(--background-color) !important;
}

.ant-modal-header {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.ant-modal-title {
  color: var(--text-color) !important;
}

.ant-modal-body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

.ant-modal-footer .ant-btn:hover {
  opacity: 0.9; /* Tăng hiệu ứng hover cho nút */
}
/* Placeholder */

::placeholder {
  color: var(--placeholder-color) !important;
  opacity: 1;
}

.ant-form-item-input {
  background-color: var(--background-color) !important;
}

.ant-form-item-label > label {
  color: var(--text-color) !important;
}

/* -----------------------------------------------Mobile-----------------------------------------------*/

.sidebar-mobile {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.ant-menu-horizontal > .ant-menu-item::after {
  display: none !important;
}
/* -----------------------------------------------Responsive-----------------------------------------------*/

/* Media Query for Small Screens */
@media (max-width: 450px) {
  .login-page {
    height: 700px !important;
  }
  .login-form {
    width: 95% !important;
    padding: 5% 10% !important;
  }
  .signup-page {
    height: 700px !important;
  }
  .signup-form {
    width: 90% !important;
    height: 95% !important;
    padding: 5% 10% !important;
  }
  .forgot-password-modal,
  .otp-modal,
  .reset-password-modal {
    height: 400 !important;
  }
  .forgot-password-form,
  .otp-form,
  .reset-password-form {
    height: 400 !important;
  }
  .home-content {
    background-color: #000000 !important;
  }
  .video-container {
    width: 100vw !important;
    height: 87vh !important; /* Video chiếm toàn bộ chiều cao màn hình */
    position: relative !important;
    max-width: 100vw;
    left: 0 !important; /* Đặt căn giữa */
    bottom: 7% !important;
    border-radius: 0 !important; /* Loại bỏ góc bo tròn */
    padding: 0 !important;
    margin: 0 !important;
  }

  .video-player {
    width: 100% !important;
    height: 100% !important; /* Đảm bảo video lấp đầy toàn bộ container */
    object-fit: cover !important; /* Video hiển thị đúng kích thước và giữ khung hình */
    border-radius: 0 !important;
    margin-top: 0 !important; /* Xóa khoảng cách thừa */
  }

  .video-info {
    bottom: 0% !important; /* Căn chỉnh thông tin video */
    left: 3% !important; /* Thêm khoảng cách bên trái */
    font-size: 14px !important; /* Giảm kích thước chữ để phù hợp với màn hình nhỏ */
    line-height: 1.2 !important; /* Điều chỉnh khoảng cách dòng */
  }

  .header-components,
  #sidebar {
    display: none !important;
  }

  .profile-tabs {
    width: 100vw !important;
  }

  .ant-modal-footer .ant-btn-default {
    background-color: #f44336 !important; /* Đổi màu nền của nút Cancel */
    color: white !important; /* Màu chữ */
    font-weight: 600;
    border-radius: 4px;
  }

  .ant-modal-footer .ant-btn-default:hover {
    background-color: #d32f2f !important; /* Màu nền khi hover */
  }

  .ant-modal-close-x {
    color: #000; /* Màu của dấu "x" đóng modal */
    font-size: 18px;
  }

}
